@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://small-bizsense.com/wp-content/uploads/2020/06/bigstock-Contactless-Payment-Concept-N-322253395.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        div {
            margin: 0;
            padding: 0;
        }

        label {
            color: white;
        }

        label, input {
            width: 300px;
        }

        aside {
            width: 34vw;
            margin-right: 33vw;
            margin-left: 33vw;
            margin-top: 20vh;
            margin-bottom: 20vh;
            padding-top: 16vh;
            float: right;
            height: 60vh;
            background-color: #1F618D;
        }

        a, h4 {
            width: 280px;
        }

        h1 {
            text-align: center;
            color: white;
            font-weight: 800;
        }

        img {
            width: 20vw;
        }
    </style>
</head>
<body>
    <div>
        <aside>
            <center>
                <h4 class="alert-danger">@ViewBag.Message</h4>
                <form action="@Url.Content("~/Acceso/RegistrarUsuario")" method="post">

                    <div class="form-group">
                        <label>Cédula *</label>
                        <br />
                        <input type="text" name="cedula" />
                    </div>
                    <div class="form-group">
                        <label>Cuenta *</label>
                        <br />
                        <input type="password" name="nroCuenta" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-success" />
                    </div>

                </form>
            </center>
        </aside>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

