@model List<PROYECTO_DOTNET_REST_CLIENTE_PASPUEL_QUISTANCHALA_VILLARRUEL.Models.Cuenta>

@{
    ViewBag.Title = "PosicionConsolidada";
}

<div style="background-color: white; border-radius: 20px; padding: 30px; margin-top: 10px;">

    <p>
        @Html.ActionLink("Crear nueva cuenta", "CrearCuenta")
    </p>
    <table class="table">
        <tr>
            <th>
                ID CUENTA
            </th>
            <th>
                ID CLIENTE
            </th>
            <th>
                NÚMERO
            </th>
            <th>
                TIPO
            </th>
            <th>
                SALDO
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nro_cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo_cuenta)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetalleMovimientos", new { cuenta = item.nro_cuenta })
                </td>
            </tr>
        }

    </table>

</div>