<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://small-bizsense.com/wp-content/uploads/2020/06/bigstock-Contactless-Payment-Concept-N-322253395.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .nav li a {
            color: white !important;
        }

        .nav li a:hover {
            color: greenyellow !important;         
        }

        #myNavVar {
            background-color: #1F618D;
        }

        footer {
            background-color: white;
            border-radius: 20px;
            text-align: center;
            padding-bottom: 5px;
            padding-top: 10px;
        }

        li {
            color: white;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" id="myNavVar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width:100%">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Posición Consolidada", "PosicionConsolidada", "Home")</li>
                    <li>@Html.ActionLink("Transferencias", "Transferencias", "Home")</li>
                    <li style="float:right">@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Acceso")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BanQuito</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
